<form
[formGroup]="employeeForm"
(ngSubmit)="submit()"
>

<div>

<label>
First Name
</label>

<input
formControlName="firstName"
/>

<div
*ngIf=
"employeeForm.controls.firstName.invalid
&& employeeForm.controls.firstName.touched"
>

Required

</div>

</div>


<div>

<label>
Last Name
</label>

<input
formControlName="lastName"
/>

</div>


<div>

<label>
Email
</label>

<input
formControlName="email"
/>

<div
*ngIf=
"employeeForm.controls.email.invalid
&& employeeForm.controls.email.touched"
>

Enter valid email

</div>

</div>


<div>

<label>
Role
</label>

<select
formControlName="role"
>

<option>
ADMIN
</option>

<option>
SUPPORT
</option>

<option>
MANAGER
</option>

</select>

</div>


<div>

<label>
Status
</label>

<select
formControlName="status"
>

<option>
ACTIVE
</option>

<option>
INACTIVE
</option>

</select>

</div>

<button type="submit">

Save

</button>

</form>
